:markdown
  ## Role

  As a Gitlab Community Advocate, you will be a member of
  the Community Advocacy team within Developer Relations
  with a goal of responding to every question about GitLab
  asked online. You will help to create process and
  documentation around the way this team interacts with
  the community as well as help make it easier to provide
  feedback into GitLab.
