---
layout: job_page
title: "Move"
---

Use this "move" calculator to get a sense of how your compensation may be affected if you choose to relocate.
As stated in the [people ops section of the handbook](/handbook/people-operations/#relocation/),
you should first obtain written agreement (from your manager) when planning a relocation.
It is the company's discretion to offer you a contract in your new location.


<%= partial "includes/move_calculator" %>
