@import "variables";
$purple-section-gradient-from: #654ca7;
$purple-section-gradient-to: #3c257b;

.wrapper {
  background-color: $formula-variable-bg;
}

.sales-picture-container,
.free-trial-picture-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  > svg {
    position: absolute;
    left: -100px;
    right: -100px;
    top: -25%;
    min-height: 150%;
    min-width: 120%;
    z-index: 9;
    fill: $color-primary;
    opacity: .5;
  }

  > div {
    position: relative;
    z-index: 99;
  }

  &::after {
    background-image: linear-gradient(to right, $purple-section-gradient-from, $purple-section-gradient-to 100%);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.sales-content,
.free-trial-content {
  width: 80%;
  margin: auto;
  text-align: center;
  color: $color-white;

  h1 {
    margin: 80px 0;
    font-size: 46px;
    font-weight: 300;
  }
}

.fill-form {
  text-align: center;
  font-size: 23px;
  margin-top: 38px;
}

.action {
  margin: 3% 15% -12%;
}

.centered-form-info {
  margin-bottom: 2em;
  font-size: 20px;
  color: $color-primary;

  &.small-text {
    font-size: 14px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.sales,
.free-trial {
  .content-container {
    padding-bottom: 100px;
    background-color: $color-white;
    border-top: 1px solid $landing-organization-color;
  }

  .footer {
    margin-top: 0;
  }
}

.free-trial .centered-form {
  margin-bottom: 4em;
}

@media (max-width: $screen-sm-min) {
  .sales-picture-container,
  .free-trial-picture-container {
    > svg {
      height: 100%;
    }
  }

  .centered-form-info {
    padding: 15px;
  }
}
