---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "Travis CI vs GitLab CI | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.comparisons.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.comparisons.comparisons.gitlab_ci_vs_travis_ci, product_one: competitors.gitlab_ci, product_two: competitors.travis_ci, key_one: :gitlab_ci, key_two: :travis_ci }
